html,
body {
  position: relative;
  height: 100%;
}

.wrap {
  height: 100vh;
}

.contents-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide figure {
  width: 100%;
}

.swiper-slide video {
  display: block;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .swiper-button-next,
.swiper-button-prev {
  width: 20%;
  height: 100%;
  top: 0;
  --swiper-theme-color: #fff;
} */


@media (max-width: 796px) {
  .contents-wrap {
    width: 100%;
  }
}