.hidden {
  display: none;
}
input {
  outline: none;
}
img {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.object {
  position: absolute;
  z-index: 1;
}

#clock,
#greeting,
#login-form,
#todo-form,
#todo-list {
  top: 40vh;
  left: 50%;
  transform: translateX(-50%);
}
#login-form input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

#login-form input[type="submit"] {
  margin-left: 10px;
  background-color: #fff;
  cursor: pointer;
}

#clock {
  top: 25vh;
  font-size: 100px;
  color: #fff;
}

#greeting {
  top: 42vh;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
}

#weather {
  top: 2%;
  right: 2%;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

#todo-form {
  top: 50vh;
}
#todo-form input {
  border: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  background: none;
}
#todo-form input::placeholder {
  color: #fff;
  text-align: center;
}

#quote {
  left: 2%;
  bottom: 2%;
}

#todo-list {
  top: 55vh;
}
